<launch>
    
    <arg name="dmp_method" default="dmpbbo"/>
    <arg name="training_mode" default="bspline" doc="bspline, lwr, rbfn, wls"/>
    <arg name="num_kernels" default="10"/>
    <arg name="robot_ns" default="hebi"/>

    <group if="$(eval dmp_method == 'dmpbbo')">
        <node name="dmp_bringup_$(arg robot_ns)" pkg="lfd_dmp" type="dmp_bringup.py" output="screen">
            <param name="dmp_method" value="$(arg dmp_method)"/>
            <param name="training_mode" value="$(arg training_mode)"/>
            <param name="num_kernels" value="$(arg num_kernels)"/>
            <param name="robot_ns" value="$(arg robot_ns)"/>
        </node>
    </group>

</launch>
